:root {
    --font-title: 100;
    --font-sub-header: 900;
    --font-body-text: 300;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
    color: #212427;
}

header {
    margin-bottom: 5rem;
}

header h1 {
    font-weight: var(--font-title);
    text-align: center;
    font-size: 4rem;
    margin-top: 8rem;
    margin-bottom: 1rem;
}

header p {
    font-weight: var(--font-body-text);
    text-align: center;
    font-size: 1.7rem;
    width: 60%;
    line-height: 1.3;
}

.tekst-foto {
    text-align: center;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 5rem;
}

.header-bilder {
    display: flex;
    justify-content: center;
}

.header-enkeltbilde img {
    width: 40rem;
    height: 50rem;
    padding: 0.4rem;
    border-radius: 4rem;
}

.header-enkeltbilde {
    position: relative;
}

.bildetekst-left p {
    font-size: 1rem;
    color: white;
    text-align: right;
    width: 33%;
    position: absolute;
    top: 11rem;
    right: 1rem;
}

.bildetekst-right p {
    font-size: 1rem;
    text-align: left;
    color: black;
    width: 50%;
    position: absolute;
    top: 17rem;
    left: 1rem;
}

.vertical-line-header {
    border-bottom: 5px dotted black;
    width: 70rem;
    margin-bottom: 5rem;
}


.boxtekst1og2 {
    background-color:#efdcdf;
    width: 940px;
    margin: auto;
    padding: 20px;
    
}

.maincolumn {
    float: left;
    width: 50%;
    padding: 80px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
main h2 {
    font-weight: var(--font-sub-header);
    font-size: 16px;
}

main p {
    font-weight: var(--font-body-text);
    font-size: 16px;
}

.main-bilde-1{
    width: 400px;
    height: 120px;
    margin: auto;
    margin-bottom: 40px;
}

.main-bilde-1 img {
    width: 100%;
    height: auto;
}

.tekst-bilde-1{
    font-weight: var(--font-body-text);
    font-size: 14px;
    width: 250px;
    padding: 20px;
    margin-left: 250px;
    text-align: right;
}



.bilder-sammen {
    position: relative;
}

.main-image {
    float: right;
    position: relative;
    margin-top: 100px;
    margin-right: 17rem;
}

.tekst-main-image {
    position: absolute;
    width: 25%;
    top: 10rem;
    left: -14rem;
    text-align: right;
}

.tekst2-main-image {
    position: absolute;
    font-weight: bold;
    font-size: 1.5rem;
    top: 1rem;
    right: 1rem;
    font-family: 'Yeseva One', cursive;
}

.tekst-lite-bilde {
    position: absolute;
    width: 30%;
    left: 6rem;
    bottom: -10rem;
}

.main-image img {
    width: 50rem;
}

.lite-bilde img {
    position: absolute;
    width: 20rem;
    bottom: -14rem;
    left: -14rem;
    border: solid 1rem white;
}

.bilder-sammen:after {
    content: "";
    display: table;
    clear: both;
}

.ina {
    margin-top: 20rem;
}

.helena {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}
.main-image-he img {
    width: 65rem;
    height: 78rem;
    position: absolute;
    margin-top: 10px;
    margin-left: 28rem;
}

.lite-bilde-he img {
    position: absolute;
    width: 420px;
    height: 550px;
    top: 10rem;
    left: 6rem;
    border: solid 1rem white;
    
}

.bilder-sammen-he:after {
    content: "";
    display: table;
    clear: both;
}
.insta-logo img {
    position: absolute;
    width: 4rem;
    height: 4rem;
    bottom: -60rem;
    left: 21rem;
    
    
}

.tekst-lite-bilde-foot {
    position: absolute;
    width: 330px;
    margin-top: 45rem;
    margin-left: 8rem;
    text-align: left;
    left: -1rem;
}

.tekst-under-bilde-foot {
    position: absolute;
    width: 25rem;
    top: 29rem;
    margin-top: 46rem;
    padding-top: 5rem;
    margin-left: 28rem;
    padding-bottom: 10rem;
}
.vertical-line {
    border-left: 5px dotted black;
    height: 34rem;
    bottom: -90rem;
    position: absolute;
    left: 27rem;
    margin-left: 0px;
    margin-top: -35px;
    padding-bottom: -15px;
  }
  .insta-header {
    position: absolute;
    font-weight: bold;
    text-transform: uppercase;
    float: right;
    margin-left: 11rem;
    margin-top: 62rem;
  }
  .list-instagram {
    position: absolute;
    text-transform: uppercase;
    margin-left: 12rem;
    margin-top: 64rem;
    text-align: right;
    line-height: 1.5rem;
  }
    ul{
    list-style-type: none;
  }
  .insta-header2 {
    position: absolute;
    font-weight: bold;
    text-transform: uppercase;
    float: right;
    margin-left: 13rem;
    margin-top: 71rem;
  }
  .list-instagram2 {
    float: right;
    position: absolute;
    text-transform: uppercase;
    margin-left: 17rem;
    margin-top: 72.5rem;
    text-align: right;
    margin-bottom: -5rem;
  }