:root {
    font-family: 'Roboto', sans-serif;
    --font-title: 100;
    --font-sub-header: 900;
    --font-body-text: 300;
}

header h1 {
    font-weight: var(--font-title);
}

header p {
    font-weight: var(--font-body-text);
}